<!--
 * @Author: zhangjingguo
 * @Date: 2019-08-26 15:07:53
 * @LastEditTime: 2019-08-26 15:49:05
 * @Description: file content
 -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
            <meta content="width=device-width, initial-scale=1" name="viewport">
                <title>
                    Scroll Based Animation
                </title>
                <link href="__STATIC__/index2/css/styles.css" rel="stylesheet">
                </link>
            </meta>
        </meta>
    </head>
    <body>
        <!-- The `.container` element will contain all the images -->
        <!-- It will be used also to perform the 'custom scroll' behavior -->
        <div class="container">
            <!-- Each following `div` correspond to one image -->
            <!-- The images will be set using CSS backgrounds -->
            <div class="image vh-fix">
            </div>
            <div class="image vh-fix">
            </div>
            <div class="image vh-fix">
            </div>
            <div class="image vh-fix">
            </div>
            <div class="image vh-fix">
            </div>
            <div class="image vh-fix">
            </div>
            <div class="image vh-fix">
            </div>
            <div class="image vh-fix">
            </div>
            <div class="image vh-fix">
            </div>
            <div class="image vh-fix">
            </div>
        </div>
        <script src="__STATIC__/index2/js/vh-fix.js">
        </script>
        <script src="__STATIC__/index2/js/scripts.js">
        </script>
    </body>
</html>
